@use "sass:color";

$primary-color: #d97757;
$input-border: #e0e0e0;
$text-color: #333333;
$background-color: #f9f9f9;
$placeholder-color: #999999;
$placeholder-background-flow: #ffffff;
$border-radius: 8px;

.custom-input-container {
  position: relative;
  width: 100%;
  // margin-bottom: 1rem;
}

.custom-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.custom-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  background: $background-color;
  color: $text-color;
  transition: all 0.3s ease;

  // &:focus {
  //   border-color: #3b82f6 !important;
  // }

  // When input has value but no focus, label is gray
  &.has-value:not(:focus) + .floating-label {
    top: -9px;
    left: 9px;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0 5px;
    background-color: $placeholder-background-flow;
    border-radius: 8px;
    color: $placeholder-color; // Gray color when not focused
    font-weight: 500;
  }

  // When input has focus, label is blue
  &:focus + .floating-label {
    top: -9px;
    left: 15px;
    font-size: 0.75rem;
    padding: 0 5px;
    background-color: $placeholder-background-flow;
    border-radius: 8px;
    color: $primary-color;
    font-weight: 500;
  }
}

.floating-label {
  position: absolute;
  left: 12px;
  top: 8px;
  color: $placeholder-color;
  pointer-events: none;
  transition: all 0.3s ease;
  background-color: transparent;
  font-size: 1rem;
  max-width: calc(100% - 40px); /* Prevent label from extending beyond input */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.toggle-password-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: $placeholder-color;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: $primary-color;
  }

  fa-icon {
    display: block;
  }
}

/* Responsive adjustments for smaller screens */
@media (max-width: 480px) {
  .custom-input {
    font-size: 0.9rem;
    padding: 0.5rem 0.4rem;

    &.has-value:not(:focus) + .floating-label {
      top: -8px;
      left: 8px;
      font-size: 0.7rem;
      padding: 0 3px;
    }

    &:focus + .floating-label {
      top: -8px;
      left: 8px;
      font-size: 0.7rem;
      padding: 0 3px;
    }
  }

  .floating-label {
    font-size: 0.9rem;
    left: 8px;
    max-width: calc(100% - 30px);
  }

  .toggle-password-btn {
    right: 5px;
    padding: 0.2rem;
    font-size: 0.9rem;
  }
}
