<div
  class="auth-container"
  [class.animated-bg]="hasBackground"
  [ngClass]="{ centered: center, 'full-screen': fullScreen }"
>
  <div
    class="auth-modal"
    [ngStyle]="{ width: width, height: height }"
    [ngClass]="{ 'transparent-bg': transparentBg }"
  >
    <div class="brand-elements" *ngIf="showBrandElements">
      <div class="brand-logo-watermark" *ngIf="showLogo">
        <img src="assets/app-logo-simple.svg" alt="NEXBuy" />
      </div>
    </div>
    <ng-content></ng-content>
  </div>
</div>